.image {
  height: 250px;
  width: 350px;
  background-size: cover;
  justify-content: left;
}
.navbar {
  background-color: purple;
}
.web-color1 {
  /* background-color: purple !important;
  border: purple !important; */
  /* color: white; */
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border: white !important;
  box-shadow: none !important;
  
}

.web-color {
   background-color: purple !important;
  border: purple !important;
  /* color: white; */
  /* background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border: white !important;
  box-shadow: none !important; */
  
}
button:hover {
  color: purple !important;
}
.item {
  display: flex;
  flex-direction: row !important;
}

.buttons {
  justify-content: space-around;
}
.icon {
  padding: 5px;
  max-width: 300px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat right;
  background-size: 28px;
  width: fit-content;
  /* max-width: 400px; */
  width: 60%;
  margin: auto;
  justify-content: center;
  
  border-radius: 6px !important;
  border-color: rgb(134, 6, 134) !important;
}

